
/*
 * Sample stylesheet / template for
 * a Sympathy project.
 */

body {
	background-color: #ffffff;
    background-image: url(http://static.tumblr.com/547d77f7f5ed57d33ba76df63d748274/xxocqni/2sonccga0/tumblr_static_ady2fajtf54okc4kwc0osgc4g.png);
    background-attachment: fixed;
}

h1 {
}

p {
}
